body {
  height: 100vh;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;

  background-image: url(images/background.png);
  background-size: cover;
}

ul li { 
  margin:0 20px 20px 0; 
  vertical-align:top;
}

li, a {
  font-weight: 500;
  color: white;
}

.title { 
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 1%;
}

.navbar {
  display: flex;
  width: 10rem;
  height: 100vh;
  position: fixed;
  right: 0%;
  bottom: 13rem;
}

.navbar-nav {
  list-style: none;
  padding: 0px;
  display: flex;
  height: 100%;
}

.nav-item {
  width: 100%; 
  padding: 0px 20px;
  border-radius: 22px;
  transition: width 1000ms ease;
  height: 5.5rem;
}

.nav-link {
  display: flex;
  align-items: center;
  width: 7rem ;
  height: 6rem;
  border-radius: 25px;
  text-decoration: none;
  filter: grayscale(100%);
  transition: all 0.3s ease 0s;
  
}

.nav-link:hover {
  filter: grayscale(0%) opacity(1);
  background: #2f2f36;
  background-color: rgba(00, 00, 00, 0.15);
  color: white;
}

.link-text {
  font-family: 'Lobster', cursive;
  font-size: 22px;
  margin-left: 1rem;
  position: absolute;
  
}

.navbar-icon {
  min-width: 3.5rem;
  margin: 0;
  filter: brightness(0%);

}



/* CSS to deal with constraint validation styles */
/*input:invalid {
  border: 2px dashed red;
}

input:valid {
  border: 2px solid green;
}*/
