/* 
*  CSS TABLE OF CONTENTS
*   
*  1.0 - GENERAL STYLE
*  2.0 - NAVBAR
*  3.0 - HOMEPAGE
*  4.0 - LOGIN/REGISTER
*  5.0 - GAME
*  6.0 - PROFILE
*  7.0 - LEADERBOARD
*  8.0 - ACHIEVEMENTS
*  9.0 - ABOUT US
*/

/*
* =================================================================================================================
*/

/*
* === 1.0 GENERAL STYLE ===
*/
@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@300;400;500&display=swap');

body {
  margin: 0;
  padding: 0;
  background-image: url(images/background.png);
  background-size: cover;
}

.title {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 1%;
}


/*
* === 2.0 NAVBAR ===
*/

ul li {
  margin: 0 20px 20px 0;
  vertical-align: top;
}

li, a {
  font-weight: 500;
  color: white;
}

.navbar {
  display: flex;
  width: 10rem;
  height: 102vh;
  position: fixed;
  right: 2%;
  bottom: 13rem;
  margin-right: 1%;
}

.navbar button{
  background-color: transparent;
  border: 0px;
}

.navbar-nav {
  list-style: none;
  padding: 0px;
  display: flex;
}

.menu {
  margin-top: 10%;
}

.menu-content {
  margin-top: 175%;
}

.nav-menu {
  width: 100%;
  padding: 0px 20px;
  border-radius: 22px;
  transition: width 1000ms ease;
  height: 5.5rem;
}

.nav-item {
  width: 100%;
  padding: 0px 20px;
  border-radius: 22px;
  transition: width 1000ms ease;
  height: 60%;
  opacity: 0%;
  top: 5rem;
  margin-top: 8%;
  margin-bottom: 8%;
}

.nav-link {
  display: flex;
  align-items: center;
  width: 7rem;
  height: 6rem;
  border-radius: 25px;
  text-decoration: none;
  filter: grayscale(100%);
  transition: all 0.3s ease 0s;
  position: relative;
}

.paw:hover {
  filter: grayscale(0%) opacity(1);
  background: #2f2f36;
  background-color: rgba(00, 00, 00, 0.15);
  color: white;
}

.link-text {
  font-family: 'Lobster', cursive;
  font-size: 22px;
  margin-left: 1rem;
  position: absolute;
}

.menu-text {
  font-family: 'Lobster', cursive;
  text-align: center;
  font-size: 32px;
  margin-left: 1rem;
  position: absolute;
  color:white;
}

.navbar-icon {
  min-width: 3.5rem;
  margin: 0;
  filter: brightness(0%);
}

.left-feet {
  transform: scale(-1, 1);
}

.right-feet {
  right: 5rem;
}

.chick-feet {
  width: 5rem;
}

.right {
  margin-left: 12%;
}

.left {
  margin-left: -12%;
}


/*
* === 3.0 HOMEPAGE ===
*/

.buttonPlay {
  width: 300px;
  line-height: 50px;
  text-align: center;
  vertical-align: middle;
  color: white;
  text-decoration: none;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: all 1000ms ease;
}

#buttonPlay {
  font-size: 200%;
}

.blurred-game{
  position: fixed;
  width:54%;
  height:60%;
  margin-left: 23%;
  margin-top: 11%;
  background-image: url('images/blurred_game.png');
  background-repeat: no-repeat;
  background-size: 100% 100%  ;
  background-position: center;
  filter: blur(2px);
}


/*
* === 4.0 LOGIN/REGISTER ===
*/

.row {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  left: 50%;
  top: 60%;
  transform: translate(-50%, -50%);
  column-gap: 1%;
  text-align: center;
}

.column {
  flex: 33.33%;
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
  background-image: url("images/login.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1200px 500px;
}

.login-box {
  width: 125%;
}

.buttonLogin {
  color: green;
  background-color: white;
  border-radius: 20px;
  border-color: green;
  margin: 1.5rem;
}

.buttonLogin:hover, .buttonLogin:active {
  color: white;
  background-color: green;
}

.buttonRegister {
  color: white;
  background-color: orange;
  border-radius: 20px;
}

.buttonRegister:hover, .buttonRegister:active {
  color: white;
  background-color: #FF4500;
}

input {
  border-radius: 5px;
  border: solid rgba(0, 0, 0, 0);
  box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7);
  margin-top: 20px;
}

input::placeholder {
  text-align: center;
}


/*
* === 5.0 GAME ===
*/

#playAgain {
  width: 300px;
  line-height: 50px;
  text-align: center;
  vertical-align: middle;
  color: white;
  text-decoration: none;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  left: 50%;
  top: 95%;
  transform: translate(-50%, -50%);
  transition: opacity 1000ms ease;
}

#gameDiv {
  padding: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border-radius: 1000px;
}




/*
* === 6.0 PROFILE ===
*/

.panneau-profile {
  position: fixed;
  width: 100%;
  height: 100%;
  background-image: url('images/panneau_profile.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.logout-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cadre-panneau-profile {
  position: absolute;
  list-style: none;
  justify-content: center;
  left: 50%;
  top: 65%;
  transform: translate(-50%, -50%);
  padding: 10%;
}

.cadre-panneau-profile li {
  color: black;
  font-size: 125%;
  transition: width 1000ms ease;
  margin: 3rem;
}



/*
* === 7.0 LEADERBOARD ===
*/

.panneau-leaderboard {
  position: fixed;
  width: 100%;
  height: 100%;
  background-image: url('images/panneau_leaderboard.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.cadre-panneau-leaderboard {
  position: absolute;
  list-style: none;
  justify-content: center;
  left: 50%;
  top: 65%;
  transform: translate(-50%, -50%);
  padding: 10%;
}

.cadre-panneau-leaderboard li{
  color:black;
  font-size: 800%;
  transition: width 1000ms ease;
}



/*
* === 8.0 ACHIEVEMENTS ===
*/

.achievements-font{
    color: black;
    font-family: 'DM Mono', monospace;
}

a {
    text-decoration: none;
}

.card-list {
    display: flex;
    padding: 2rem;
}

.category {
    height: 170px;
    width: 170px;
    padding: 1rem;
    border-radius: 16px;
    background: #ffe6c4;
    display: block;
    transition: .2s;
    margin: 0rem;
    position: relative;
    margin-right: 10rem;
}
.text-category {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70%;
    font-size: 1.5rem;
}


.card {
    height: 170px;
    width: 200px;
    min-width: 250px;
    padding: 1rem;
    border-radius: 16px;
    background: #ffe6c4;
    box-shadow: -0.5rem 0 3rem #000;
    display: flex;
    flex-direction: column;
    transition: .2s;
    margin: 0;
    scroll-snap-align: start;
    clear: both;
    position: relative;
    margin-right: 4rem;
}

.true {
    background: #8ea263;
}

.false {
    background: #ffe6c4;
}

.false a {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

.blur{
    
}

.card:focus-within~.card, .card:hover~.card {
    transform: translateX(130px);
}

.card:hover {
    transform: translateY(-1rem);
}

.card:not(:first-child) {
    margin-left: -130px;
}


.card-header {
    margin-bottom: auto;
}

.card-header p {
    font-size: 14px;
    margin: 0 0 1rem;
    color: red;
}

.card-header h2 {
    font-size: 20px;
    margin: .25rem 0 auto;
    text-decoration: none;
    color: inherit;
    border: 0;
    display: inline-block;
    cursor: pointer;
}

.card-badge {
    margin: -5%;
    display: grid;
    grid-template-columns: 75px 1fr;
    align-items: center;
    position: relative;
    border-color: chartreuse;
}

.badge-avatar {
    grid-area: auto;
    align-self: start;
    position: relative;
    box-sizing: border-box;
}

.badge-avatar svg {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    filter: grayscale(100%);
    display: block;
    overflow: hidden;
    margin: 16px 10px;
}

.title-name {
    grid-area: auto;
    box-sizing: border-box;
}

.title-name-prefix {
    font-style: normal;
    font-weight: 700;
    color: #000000;
}


/*
* === 9.0 ABOUT US ===
*/

.aboutus {
  width: 83%;
  height: 83%;
  text-align: center;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
}

.panneau-aboutus {
  position: fixed;
  width: 100%;
  height: 100%;
  background-image: url('images/panneau_aboutus.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.cadre-panneau-aboutus {
  position: absolute;
  list-style: none;
  justify-content: center;
  left: 50%;
  top: 65%;
  transform: translate(-50%, -50%);
  padding: 10%;
}

.cadre-panneau-aboutus li {
  color: black;
  font-size: 125%;
  transition: width 1000ms ease;
  margin: 0.5rem;
}


/*
* ============================================================================
*/


